.font-family {
    font-family: Arial, sans-serif;
}

.header-format { color: white;
                background-color: #93d0f4;
                position: relative;
                text-align: center; 
}

.header-format h1 {
    padding: 20px 50px 0px 50px;
}

.header-format img {
    background-color: #93d0f4; padding: 0px 50px 30px 50px;
}

.table-format {
    border-collapse: collapse;
    border: 0.3px solid black;
    width: 100%;
}

.table-format tr {
    border-collapse: collapse;
    border: 0.3px solid black;
    padding: 5px;
}

.table-format td {
    border-collapse: collapse;
    border: 0.3px solid black;
    padding: 5px;
}

.table-format th {
    border-collapse: collapse;
    border: 0,3px solid black;
    padding: 5px;
}

.links-section ul {
        padding-left: 10px;
        margin-left: 0;
}

.links-section ul li a{
    color: #0079c1; 
    text-decoration: none;
}

.footer-format {
    color: white;
    background-color: #93d0f4;
    text-align: center;
    padding: 10px;
}